<div class="container col-12 App">

  <!-- App Bar -->
  <div class="row AppBar" #AppBar>
    <p-menubar [model]="itemsAppBar" style="width: 100%">
      <div>
        <button
          type="button"
          pButton
          icon="pi pi-user"
          style="margin-left: 0.25em"
        ></button>
      </div>
    </p-menubar>
  </div>

  <!-- App Body -->
  <div class="row AppBody" #AppBody>
    <div class="col-auto MenuBar">
      <p-panelMenu
        [model]="itemsMenu"
        [style]="{ width: '300px' }"
      ></p-panelMenu>
    </div>
    <div class="col ModuleContent">
      Profile in progress!
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- App Footer -->
  <div class="row AppFooter" #AppFooter>Footer</div>
</div>

<!-- 

<ul>
  <li>about-me</li>
  <li>/cv-resume</li>
  <li></li>
  <li>art-section</li>
  <li>/</li>
  <li></li>
  <li>my-apps</li>
  <li>/my-songs</li>
  <li>/poke-api</li>
  <li>/gym-routine</li>
  <li>/gym-routine-generator</li>
  <li>/dynamic-schedule</li>
</ul>

<router-outlet></router-outlet> -->
