<p>
    <b>My Songs Apps:</b>
    <br>
    This was the first React app I ever made.
    <br>
    <br>
    <b>Note:</b> the App uses third-party API and sometimes it doesn't work and stop to response.
    <br>
    In taht case, the App will use fake information so you can keep using the app!
</p>

<div style="padding: 10px; background-color:aliceblue; border: solid 1px grey; border-radius: 10px;">
    <a href="https://gerleven.github.io/React/">Click this Link to redirect</a>
</div>

<br>
<p>Preview:</p>
<div class="img-preview">
    <img src="assets/MySongsApp-img1.JPG" alt="MySongsApp-img1.JPG">
</div>
