<!-- <p>about-me works!</p> -->

<!-- <div class="grid gridContent">
  <div class="col-6 md:col-3 gridItem">col-6 md:col-3</div>
  <div class="col-6 md:col-9 gridItem">col-6 md:col-9</div>
</div>

<div class="gridContent1" style="display: none">
  <div class="gridItem1">asd</div>
  <div class="gridItem1">asd2</div>
  <div class="gridItem1">asd</div>
</div>

<div class="ui-g gridContent">
  <div class="ui-g-12 gridItem">asd1</div>
</div>
<div class="ui-g">
  <div class="ui-g-1 gridItem">asd</div>
  <div class="ui-g-1 gridItem">asd2</div>
  <div class="ui-g-1 gridItem">asd3</div>
</div>

<div class="grid gridContent">
  <div class="col-6 md:col-3 gridItem">asd</div>
  <div class="col-6 md:col-9 gridItem">asd</div>
</div>

<router-outlet></router-outlet> -->

<div
        style="
          background-color: rgb(238, 245, 255);
          padding: 10px;
          border-radius: 10px;
          border: 1px solid rgb(129, 160, 202);
          margin: 5vh auto;
          width: 50vw;
          display: flex;
          flex-direction: column;
          justify-content: center;
          justify-items: center;
          align-items: center;
          align-self: center;
        "
      >
        <span style="margin: auto">
          This portfolio is still in the development process, it will be ready
          soon.
        </span>
        <a href="https://gerleven.github.io/React/"
          >meanwhile, check out my other project
        </a>
      </div>